<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="blackJack.css" />
  <title>BlackJack.kg</title>
</head>

<body>
  <header>
    <h1 id="winner">BlackJack.KG</h1>
  </header>
  <div class="handBack">
    <div id="dealer">
      <h1>Dealer's hand</h1>
      <h2 id="dealerScore"></h2>
      <h1 id="dealerScore"></h1>
      <button id="startButton" onclick="startGame()">Start!</button>
      <div id="dealerHand">
      </div>
    </div>
  </div>
  <div class="handBack">
    <h1>Your hand</h1>
    <h2 id="playerScore"></h2>
    <div class="buttonCase">
      <button id="stand" onclick="stand()">STAND</button>
      <h1 id="yourScore"></h1>
      <button id="hitMe" onclick="hitMe()">HIT</button>
    </div>
    <div id="yourHand">
    </div>
  </div>
  </div>
</body>
<script src="blackJack.js"></script>
</html>