/* Style for alle sider untatt game.php */
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}
img {
  margin: 0%;
  padding: 0%;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  margin: 0%;
  padding: 0%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  height: 10vh;
  max-width: 100vw;
  margin: 0%;
  padding: 0%;
}

.bakgrunn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkslategray;
  height: 100vh;
  max-width: 100vw;
  margin: 0%;
  padding: 0%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  height: 30vw;
  width: 30vw;
  border-radius: 10%;
  margin: 0%;
  margin-top: 5%;
  padding: 0%;
}

.input {
  width: 40%;
  height: 10%;
  border-radius: 5px;
  margin: 0%;
  padding: 0%;
  font-size: x-large;
}

label {
  margin: 0%;
  padding: 0%;
  font-size: x-large;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  max-width: 100vw;
  margin: 0%;
  padding: 0%;
}
